<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>测试页面</title>
		<style>
			body {
				font-size:20px;
				text-align: center;
			}

			#main {
				margin: 0 auto;
				width: 1000px;
			}

			#s1 {
				width: 400px;
				height: 40px;
				text-align: left;
			}

			#btn1 {
				height: 40px;
				width: 80px;
			}

			#param {
				width: 600px;
				height: 200px;
				margin-top: 20px;
			}

			#tx1 {
				width: 1000px;
				height: 600px;
				margin-top: 20px;
			}
		</style>
	</head>

	<body>
		<div id="main">
			<h2 align="center">测试页面</h2>
			<div style="text-align: left;">
				<p style="text-align: right;">
					<button id="loginBtn">登录</button>
					<button id="logoutBtn">注销</button>
				</p>
				<p>接口：
					<select id="s1">
						<option>请选择</option>
					</select>
					<button id="btn1">提交</button>
				</p>
				<p>
					<textarea id="param"></textarea>
				</p>
				<p>
					<textarea id="tx1"></textarea>
				</p>
			</div>
		</div>
	</body>
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script src="../static/js/config.js"></script>
	<script src="../static/js/init.js"></script>
</html>
